In [1]:
# Steps for weather prediction
# 1. Obtaining Dataset
# 2. Preprocessing of data
# 3. Machine learning Algorithms
# 4. Plot the forecasted results
# 5. Conclusions

In [2]:
import pandas as pd
import numpy as np

Obtaining Dataset

In [8]:
seattle_weather_csv = pd.read_csv("seattle-weather.csv")
df = pd.DataFrame(seattle_weather_csv)
df.head()

         date  precipitation  temp_max  temp_min  wind  weather
0  2012-01-01            0.0      12.8       5.0   4.7  drizzle
1  2012-01-02           10.9      10.6       2.8   4.5     rain
2  2012-01-03            0.8      11.7       7.2   2.3     rain
3  2012-01-04           20.3      12.2       5.6   4.7     rain
4  2012-01-05            1.3       8.9       2.8   6.1     rain

Preprocessing of data

In [15]:
# To check if our dataframes has any null values
df.isnull().values.any()

False

In [17]:
# To check how many types of weather we have
df["weather"].unique()

array(['drizzle', 'rain', 'sun', 'snow', 'fog'], dtype=object)

Since we are using ARIMA, it is not influenced by scale and magnitude of values in time series. Hence we do not need feature scaling

Using ARIMA for time-series prediction of precipitation and temperature.